body {
    background: #4E3D42;
    color: rgb(234, 238, 238);
    font-family: courier new;
    text-align: center;
}

h1 {
  text-align: center;
  font-size: 16pt;
  font-weight: normal;
}

div {
    font-size: 27px;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
  
  }


#grid {
    width: 401px;
    height: 401px;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    background: #E3DBDB;

}

#grid div {
  border:1px solid rgb(204, 217, 221);
  margin: auto;
  height: 38px;
  width: 38px;
  text-align: center;
  
}

.mine{
    background: #6D6466;
    opacity: 0.9;
    
}

.clear{
    background: #6D6466;
    opacity: 0.9;
    transition: 0.5s;
}

.clicked{
    background: #039e89;
    opacity: 0.9;
    transition: 0.7s;
}